@model IEnumerable<AptManager.Models.MaintenanceOrder>

@{
    ViewBag.Title = "WorkOrderList";
}

<h2>WorkOrderList</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.HousingUnit.UnitId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Worker.ApplicationUserId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DueDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsCompleted)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.HousingUnit.UnitId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Worker.ApplicationUserId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DueDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsCompleted)
        </td>
        <td>
            @Html.ActionLink("Home", "WorkerPortal", new { id=item.OrderId }) |
            @Html.ActionLink("Details", "Details", new { id=item.OrderId }) |
        </td>
    </tr>
}

</table>
