@model AptManager.Models.Tenant

@{
    ViewBag.Title = "Your Account Details";
}
<br />
<br />
<br />

<h2> Your Account Details Below</h2>

<div>

    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ApplicationUser)
        </dt>
        
        <dd>
            @Html.DisplayFor(model => model.ApplicationUser)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UnitId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UnitId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BalanceDue)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BalanceDue)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.TenantId }) |
   
</p>
