@model AptManager.Models.Tenant

@{
    ViewBag.Title = "TenantNotification";
}

<h2>TenantNotification</h2>

<div>
    <h4>Tenant</h4>
    <hr />
    <p>@Html.ActionLink("Send Late Rent Notificaiton","", Model.PhoneNumber)</p>
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UnitId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UnitId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.BalanceDue)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BalanceDue)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.TenantId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
